body {
    background-color: #090909;
    color: #e7e1e1;
    font-family: Inter;
    margin: 0;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.loginform {
    display: grid;
    gap: 20px;
    justify-items: center;
    border-radius: 10px;
    background-color: #e97510;
    z-index: 1;
}

form:not(.passwordbg) {
    border-radius: 10px;
    width: 250px;
    padding: 5px;
    justify-content: space-between;
    display: flex;
    flex-direction: row-reverse;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
    transition: 0.2s all ease-in-out;

    input {
        background-color: transparent;

        text-align: center;
        transition: 0.5s all ease-in-out;
        margin-left: 15%;
    }

}
.passwordbg {
  
    z-index: -1;
    background-color: #e97510;
    border-radius: 10px;
    width: 250px;
    height: 30px;
    padding: 5px;
    top: 0;
    right: 0;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    transition: 0.2s all ease-in-out;
    z-index: -1;


}
.label1 {
    content: url(lock\ \(1\).png);
    width: 20px;
    padding: 5px;
    position: absolute;
    left: 2%;
}
.label2 {
    content: url(eye\ \(1\).png);
    width: 20px;
    padding: 5px;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.2s all ease-in-out;


}

#password {
    border: none;
    outline: none;
    -webkit-text-security: disc;
    text-security: disc;
    transition: 0.2s all ease-in-out;
}
#eye:checked~#password {
    -webkit-text-security: none;
    text-security: none;
    transition: 0.5s all ease-out;
}
#eye:checked~.label1 {

    content: url(lock.png);

    transition: 0.2s all ease-out;
}
#eye:checked~.label2 {
    content: url(hide\ \(1\).png);

    background-color: #fff;
    transition: 0.2s all ease-out;
}
#eye:checked~.passwordbg {
    background-color: #fff;
    transition: 0.2s all ease-out;
    animation: bgchange 0.2s ease-out forwards;
}

@keyframes bgchange {
    from {
        background: #e97510;
        background-size: 10px;
        background-position: calc(100%-10px);
        border-radius: 50%;
        right: 3%;
        width: 20px;
        height: 20px;
        padding: 5px;
        top: 5px;
    }
    to {
         transition: 0.5s all ease-in-out;
        z-index: -1;
        background-color: #fff;
        border-radius: 10px;
        width: 250px;
        height: 30px;
        padding: 5px;
        top: 0;
        right: 0;
    }
}
